.section {
  margin-top: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.transactionHistory {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

thead {
  background-color: rgb(0, 188, 213);
  text-transform: uppercase;
  color: white;
}

tbody {
  color: rgb(54, 54, 54);
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

th,
td {
  width: 200px;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: rgb(236, 241, 243);
}
